manifest {
    homePage = 'http://github.com/lifebit-ai/templates'
    mainScript = 'main.nf'
}

params {
    // Defaults 
    outdir       = './results'

    // Required
    plot_type            = false
    year                 = false
    continent_to_exclude = false

    help           = false
}

docker.enabled = true

process {
    container = 'cgpu/papermill-icr'
    withName: run_notebook {
     container = 'cgpu/papermill-icr'
   }
 }
